.letter {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    box-sizing: border-box;
    background-color: var(--color-background-letter);
    padding: var(--space-6);
    border-radius: var(--radius-xl);
    overflow: hidden;
}

.preview {
    height: 240px;
    max-height: 240px;
}

.content {
    position: relative;
    display: flex;
    flex: 1;
    overflow: auto;
}

.footer {
    display: flex;
    justify-content: flex-end;
    padding-top: var(--space-2);
}

.footerPreview {
    justify-content: space-between;
}

.gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(
        to top,
        var(--color-background-letter),
        transparent
    );
}

.overflowHidden {
    overflow: hidden;
}
