.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
}

.letters {
    margin-top: var(--space-6);
}

.banner {
    margin-top: var(--space-6);
}

@media (min-width: 768px) {
    .banner {
        margin-top: var(--space-12);
    }
}
