.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 600px;
    gap: var(--space-8);
}

.form {
    padding: var(--space-3) var(--space-4);
}

.letter {
    min-height: 400px;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }

    .letter {
        height: 100%;
    }

    .form {
        padding: 0;
    }
}
